<h1 class="tss" mat-dialog-title>Pokedex</h1>
<div class="prohe">Description</div>
<div mat-dialog-content style="padding-top:4px">
    Pokedex
</div>

<div class="prohe" style="padding-top:19px">Date</div>
<div>
    Thu March 21 2021 05:30:00 GMT+0530 (India Standard Time)
</div>


<div class="prohe" style="padding-top:19px">Technical Stacks:</div>
<div style="padding-top:10px">
  <mat-chip-list aria-label="Fish selection">
    <mat-chip>HTML</mat-chip>
    <mat-chip>JavaScript</mat-chip>
    <mat-chip>CSS</mat-chip>
  </mat-chip-list>

</div>
<div style="padding-top: 20px;">
  <button mat-raised-button color="primary"> <mat-icon>link</mat-icon> Demo</button>
</div>


<div style="float: right;"> <button (click)="closeDialog()" mat-button color="accent">Close</button></div>
