
<div class="pro">
  About Me 🙋‍♂️
</div>

<div class="abtme">
  <div class="sjfk">
    <p>
      Hello 👋 I'm NaveenSingh, I'm a Front End Developer who trying to be an good developer on day by day
      Which i personally believes that value of creativity, value of the experience of doing things, and taking risks,  creating a new things with help of technology, Where i look for as many challenging, Diverse opporunities as  i can and Investing time on
      self development, People are different and it not necessary take the same path to succeed, So you need to find your own path and interest towards the life.

    </p>
  </div>
</div>
