
<div class="pro">
  About Me 🙋‍♂️
</div>

<div class="abtme">
  <div class="sjfk">
    <p>
      Hello 👋 I'm NaveenSingh, I'm a Front End Developer who trying to be an good developer<br/>
      Which i belives that "Always eager to learn new technologies and create a new things. Thinking <br/> out of the box is what I believe in doing." 

  I believe learning is a process that never stops, even though <br/> you may become old enough there are  
  things that you can still learn.A simple nature and simple choices, <br/> dream of the stars with feet 
   on the ground. This is what I think and with the same in my heart, I am marching <br/> towards my goal, So shall we begin!! <br/>

    </p>
  </div>
</div>